
.topnav {
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
  }

  top {
    text-align: center;
    font-size: 15px;
    font-family: "Arial", "Sans-Serif";
  }
  top.topLeft {
    float: left;
    color: black;
    padding-left: 15px;
  }
  top.topRight {
    float: right;
    color: black;
    padding-right: 15px;
  }
  #signin {
    background-color: rgb(66, 133, 244);
    color: white;
    border-radius: 2px;
    padding: 4px;
    border: 1px solid rgb(66, 133, 244);
    position: relative;
    bottom: 3px;
    
  }
  
  
center {
  position: relative;
  top: 158px;
}
img {
  padding-bottom: 25px;
  position: relative;
}
input[type=text] {
  padding: 13px ;
  border-radius: 25px;
  box-sizing: border-box;
  border-color: rgb(223, 225, 229);
  width: 550px;
}
input[type=submit] {
  margin-top: 35px;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border-color: rgb(223, 225, 229);
  width: 125px;
}
p {
  position: relative;
  font-size:14px;
  color:#000000;
  font-family: "Arial", "Sans-Serif";
}

mark.blue {
  color:#0000A0;
  background: none;
}
.botnav {
  background-color: rgb(236, 235, 235);
  position: relative;
  bottom:-585px;
  overflow: hidden;
  margin-top: 15px;
}
bottom {
  padding: 15px;
  position: relative;
  text-align: center;
  font-size: 15px;
  font-family: "Arial", "Sans-Serif";
}
bottom.bottomLeft {
  float: left;
  left: 0%;
  color: black;
  padding-left: 15px;
}
bottom.bottomRight {
  float: right;
  color: black;
  padding-right: 15px;
}